# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Scrapy files
.scrapy/
*.log
output/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Lambda package
*.zip
